{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name= "viewport" content= "width=device-width, initial-scale=1" >
    <title>#ОСББ</title>
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity= "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin= "anonymous" >
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity= "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin= "anonymous" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top nav-style">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand osbb" href="#"><i class="fa fa-home" aria-hidden="true"></i>ОСББ</a>

                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="activeli"><a class="nav-text activenav" href="#">Главная</a></li>
                            <li><a class="nav-text" href="#howToDo">Как это работает?</a></li>
                            <li><a class="nav-text" href="#reviews">Отзывы</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="activeli"><a class="nav-text" href="{% url 'loginPerson' %}">Войти</a></li>
                            <li class="activeli"><a class="nav-text" href="{% url 'registerPerson' %}">Регистрация</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="sliders">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                            <div class="myCarousel">
                                <div class="description">
                                    <h2 class="sliders-head">Верши судьбу своего дома</h2>
                                    <p class="sliders-p">Присоеденяйся к своему колективу, ставь вопрос на голосование, делай свой дом <span class="best">лучше!</span></p>
                                    <p class="sliders-span">*присоеденяйся к нам на #осбб</p>
                                </div>
                                <div class="description">
                                    <h2 class="sliders-head">Верши судьбу своего дома</h2>
                                    <p class="sliders-p">Присоеденяйся к своему колективу, ставь вопрос на голосование, делай свой дом <span class="best">лучше!</span></p>
                                    <p class="sliders-span">*присоеденяйся к нам на #осбб</p>
                                </div>
                                <div class="description">
                                    <h2 class="sliders-head">Верши судьбу своего дома</h2>
                                    <p class="sliders-p">Присоеденяйся к своему колективу, ставь вопрос на голосование, делай свой дом <span class="best">лучше!</span></p>
                                    <p class="sliders-span">*присоеденяйся к нам на #осбб</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center">
                <a class="button" href="#">Cоздать обсуждение</a>
            </div>
        </div>
    </div>
    <div class="position">
        <a class="home" href="#howToDo"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
</header>
<section class="howtodo" id="howToDo">
    <div class="container">
        <div class="row">
            <h2 class="howtodo-h">КАК ЭТО РАБОТАЕТ?</h2>
            <div class="col-sm-3">
                <div class="howtodo-steps">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </div>
                <p class="number">1</p>
                <p class="howtodo-li">Регистрируешся и авторизируешся на сайте #ОСББ</p>
            </div>
            <div class="col-sm-3">
                <div class="howtodo-steps">
                    <i class="fa fa-university" aria-hidden="true"></i>
                </div>
                <p class="number">2</p>
                <p class="howtodo-li">Создавай комнату своего дома, приглашай его жильцов</p>
            </div>
            <div class="col-sm-3">
                <div class="howtodo-steps">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
                <p class="number">3</p>
                <p class="howtodo-li">Предложи свою идею развития дома. Выноси ее на голосование или выбирай лучшую. </p>
            </div>
            <div class="col-sm-3">
                <div class="howtodo-steps">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                <p class="number">4</p>
                <p class="howtodo-li">Вам остается ожидать результатов и весело проводить время с своими соседями</p>
            </div>
            <div class="col-sm-12">
                <h4 class="discus">Хочу создать обсуждение</h4>
            </div>
            <div class="col-sm-12 text-center">
                <a class="button" href="#">Cоздать обсуждение</a>
            </div>
        </div>
    </div>
</section>
<section class="recall" id="reviews">
    <div class="container">
        <div class="row">
            <h4 class="recall-h">ОТЗЫВЫ</h4>
            <div class="col-sm-4">
                <img class="img-responsive center-block" src="{% static 'image/nataha.png' %}" alt="people">
                <h5 class="autor">Jonathon Doe</h5>
                <p class="recall-p">“Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive center-block" src="{% static 'image/nataha.png'  %}" alt="people">
                <h5 class="autor">Jonathon Doe</h5>
                <p class="recall-p">“Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive center-block" src="{% static 'image/nataha.png'  %}" alt="people">
                <h5 class="autor">Jonathon Doe</h5>
                <p class="recall-p">“Aenean eu leo quam. Pellentesque ornare sem lacinia qua emere wancerid elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”</p>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <div class="container">
        <div class="row">
            <p class="contact-h">Остались вопросы?<p>
            <p class="contact-h br">Напишите нам!</p>
           <div class="text-center">
               <a class="button" href="#callBack" data-toggle="modal">Задать вопрос</a>
           </div>
            <div class="social">
                <a class="social-icons" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a class="social-icons right-icons" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <p class="copy">&copy; #ОСББ</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity= "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin= "anonymous" ></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>