<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name= "viewport" content= "width=device-width, initial-scale=1" >
    <title>#ОСББ</title>
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity= "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin= "anonymous" >
    <link rel= "stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity= "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin= "anonymous" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="osbb-list">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default navbar-fixed-top nav-style">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand osbb" href="index.html"><i class="fa fa-home" aria-hidden="true"></i>ОСББ</a>

                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="activeli"><a class="nav-text activenav" href="index.html">Главная</a></li>
                                <li><a class="nav-text" href="index.html">Как это работает?</a></li>
                                <li><a class="nav-text" href="index.html">Отзывы</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active-user-p"><span>Alexandr Dacenko</span></li>
                                <li><img class="active-user" src="image/nataha.png" alt="dacko"></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="osbb-list">
    <div class="container-fluid">
        <div class="row">
            <div class="img-back">
                    <h1 class="osbb-title">ОСББ</h1>
                    <address class="osbb-address">
                        <p>Украина,г.Черкассы</p>
                        <p>Гоголя 567</p>
                    </address>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="position active"><a class="tab-cont" href="#home" aria-controls="home" role="tab" data-toggle="tab">Голосования</a></li>
                    <li role="presentation" class="position"><a class="tab-cont" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Жильци</a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="col-sm-4">
                        <div class="osbb-room">
                            <h2 class="quest-title">Покупка нового лифта</h2>
                            <a class="button-ent" href="#">Проголосовать</a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="col-sm-8 col-sm-offset-2">
                            <ol>
                                <li><p>Дацьок Олександр Николаевич</p></li>
                                <li><p>Подкуйко Олександр Игорович</p></li>
                                <li><div class="col-sm-8">Киркича Тимофей Петрович</div><div class="col-sm-2"><a href="№">Добавить</a></div><div class="col-sm-2"><a href="" h>Отклонить</a></div></li>
                            </ol>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <p class="copy">&copy; #ОСББ</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity= "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin= "anonymous" ></script>
<script src="slick/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>